<script id="question" type="text/x-jsrender">
  <div class="question q-{{:id}} animated  {{if id != 1}}hide {{else}} fadeInUp {{/if}} item-wrapper" data-question="{{:id}}">
    <div class="nivel">{{:title}} </div>
    <h2 class="title">Test {{:id}}</h2>
    <button id="menu-levels" class="botones volver-niveles animated pulse" title="Volver a los Niveles">
        <div class="imagen-niveles">
        </div>
    </button>
    <button id="menu" class="btn-back animated pulse" title="Volver a Home">
        <div class="imagen">
        </div>
      </button>
    <div class="picture">
      <img src="{{:imgurl}}" alt="{{:question}}" class="fluid-img">
    </div>
    <h3 class="pregunta">{{:question}}</h3>
    <div id="answers">
      {{for answers itemVar='~item'}}
        <div class="answer">
          <button class="answer-button" type="button" name="answer-{{:~item.id}}" data-answer="{{:~item.id}}">
            {{:~item.answer}}
          </button>
        </div>
      {{/for}}
    </div>
  </div>
</script>