<script id="quiz" type="text/x-jsrender">
  <div id="quiz-data" data-category="{{:category}}" data-quiz="{{:id}}">
    <div id="intro">
      {{for intro}}

      <div class="intro item {{if id != 1}}hide {{else}} fadeInUp {{/if}}">
          <h2 class="title">Intro {{:id}} / 3</h2>
          <div class="boton">
              <button id="menu" class="btn-back animated pulse" title="Volver a Home"></button>
              <button class="skip">Omitir Intros</button>
          </div>
          <img src="{{:img}}" class="fluid-img">
          <div class="content">
            {{:text}}
          </div>
          <button class="next-intro" data-target="{{:id}}">Siguiente Intro</button>
      </div>
      {{/for}}
    </div>
    
    <div id="items" class="quiz category-{{:category}} test-{{:id}} items hide"></div>
    <div class="can item-wrapper animated hide">
      <div id="message">Mensaje</div>
      <img src="assets/img/perro.png" alt="mensaje" class="fluid-img">
      <div class="boton">
          <button class="next-button animated tada" title="Siguiente pregunta"></button>
        </div>
    </div>
    
    <div class="resume item-wrapper animated hide">
      <h2 class="title">Resumen</h2>
      <h1>{{:title}}</h1>
      <div class="stars"></div>
      <div class="result-message"></div>
      <div class="buttons">
        <button id="reload" class="buton-resume again animated pulse" title="Repetir preguntas">
          <img src="assets/img/return.svg">
        </button>
        <button id="menu" class="buton-resume home animated pulse" title="Ir a Home">
          <img src="assets/img/home.png">
        </button>
      </div>
    </div>
  </div>
</script>