
<script id="quiz" type="text/x-jsrender">
  <div id="quiz-data" data-category="{{:category}}" data-quiz="{{:id}}">
    <div id="items"></div>
    <div class="can item-wrapper animated hide">
      <div id="message">Mensaje</div>
      <img src="assets/img/perro.png" alt="mensaje" class="fluid-img">
      <button class="next-button" type="button" name="next">Next</button>
    </div>
    <div class="resume item-wrapper animated hide">
      <h1>{{:title}}</h1>
      <div class="stars">Replace whit Stars image</div>
      <div class="result"></div>
      <div class="buttons">
        <button id="reload" class="buton-resume again"> Reload</button>
        <button id="menu" class="buton-resume home" title="Ir a Home">Menu</button>
      </div>
    </div>
  </div>
</script>
