<h1>Bienvenido a iDiomy!</h1>

<form method="post">
  <input type="checkbox" id="remember"> No volver a mostrar <br />
  <button type="submit" id="skip-intro">
    Comenzar el juego!
  </button>
</form>
<script>
  $('#skip-intro').click(function(e){
    e.preventDefault();
    var chk = document.getElementById("remember").checked;
    if (chk) {
      localStorage.setItem("skip", "true");
    } else {
      localStorage.setItem("skip", "false");
    }
    $('#container').load('assets/templates/panel.html');
  });
</script>
