*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

@media (min-width: 768px) {
  .body {
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
}

.body-second-style {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

@media (min-width: 768px) {
  .body-second-style {
    background-color: #598699;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1320' height='660' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF7' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: 115% auto;
    -webkit-transition: 2s;
    transition: 2s;
  }
}

#bandera-alemania {
  height: 6em;
  float: right;
}

@font-face {
  font-family: "KidsZone";
  src: url("./../css/Kids Zone.woff");
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.fluid-img {
  max-width: 100%;
  margin: 1em 0px;
}

.hide {
  display: none;
}

.item-wrapper {
  padding: 30px;
  overflow: hidden;
}

.item-wrapper .title {
  margin-top: 0;
}

.welcome {
  font-family: 'Chewy', cursive;
  padding: 10%;
  font-size: 25px;
  background-color: #cdedf6;
  text-align: center;
  background-color: transparent;
  width: 100%;
  color: #003333;
}

.welcome h1 {
  font-family: 'KidsZone';
  font-size: 3em;
}

.welcome p {
  font-weight: bolder;
}

.welcome .imagen {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#bandera {
  width: 50px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 999px;
}

.skip-intro {
  width: 50%;
  font-size: 20px;
  padding: 15px 50px;
  margin-bottom: 50px;
  border: 0px;
  border-bottom: 5px solid #834426;
  border-radius: 999px;
  background-color: #ff9505;
  color: #003333;
  font-family: 'Chewy', cursive;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.skip-intro:hover {
  width: 55%;
  font-size: 25px;
  background-color: #000040;
  border-bottom-color: #030317;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #FFF;
  cursor: pointer;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.panel {
  opacity: 0.5;
  font-family: 'Chewy', cursive;
}

.icon {
  font-size: 1.5em;
}

.title {
  font-family: 'Denk One', sans-serif;
  background-color: #003333;
  border-radius: 999px;
  color: #ffffff;
  padding: 0px 15px;
  font-size: 2em;
  letter-spacing: 10px;
}

.btn-back:hover {
  -webkit-animation: animated pulse;
          animation: animated pulse;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  cursor: pointer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.category {
  background-color: transparent;
  color: #003333;
  margin: 1em;
  padding: 2em;
}

.category button:hover {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  cursor: pointer;
  background-color: #66d1a1;
  border-color: #448c6b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

.category .level {
  display: inline;
  background-color: #3ab2b2;
  border: 4px solid #003333;
  border-radius: 9999px;
  padding: 1em;
}

.category .level img {
  height: 150px;
}

.levels {
  height: 100vh;
}

.levels .btn-back {
  padding: 0px;
  width: 50px;
  height: 50px;
  background-color: #003333;
  border-radius: 999px;
  text-align: center;
  border: 0px;
}

.levels .btn-back .imagen {
  margin: auto;
  width: 25px;
  height: 25px;
  background-image: url("./../img/home-blanco.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.levels .btn-back:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #FFBB2F;
}

.levels .btn-back:hover .imagen {
  background-image: url("./../img/home.png");
}

.levels .boton {
  text-align: left;
}

.intro {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro .content b {
  font-family: 'Denk One', sans-serif;
  font-size: 1.5em;
}

.intro .btn-back {
  border: 0px;
  float: left;
  padding: 0px;
  width: 50px;
  height: 50px;
  background-color: #003333;
  border-radius: 999px;
  text-align: center;
}

.intro .btn-back .imagen {
  margin: auto;
  width: 25px;
  height: 25px;
  background-image: url("./../img/home-blanco.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro .btn-back:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #FFBB2F;
}

.intro .btn-back:hover .imagen {
  background-image: url("./../img/home.png");
}

.intro .volver-niveles {
  border: 0px;
  float: left;
  padding: 0px;
  width: 50px;
  height: 50px;
  background-color: #003333;
  border-radius: 999px;
  text-align: center;
  margin-right: 5px;
}

.intro .volver-niveles .imagen-niveles {
  margin: auto;
  width: 25px;
  height: 25px;
  background-image: url("./../img/back-white.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro .volver-niveles:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #FFBB2F;
}

.intro .volver-niveles:hover .imagen-niveles {
  cursor: pointer;
  background-image: url("./../img/back.png");
}

.intro .skip {
  float: right;
  font-family: 'Denk One', sans-serif;
  padding: 15px;
  font-weight: 600;
  font-size: 1.2em;
  color: #003333;
  background-color: #FF9505;
  border: #ff9505;
  border-radius: 999px;
}

.intro .skip:hover {
  cursor: pointer;
  color: #000040;
  background-color: #FEBF01;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.intro .next-intro {
  font-family: 'Denk One', sans-serif;
  margin-top: 15px;
  padding: 15px;
  font-weight: 600;
  font-size: 1.2em;
  color: #003333;
  background-color: #FF9505;
  border: #ff9505;
  border-radius: 999px;
}

.intro .next-intro:hover {
  cursor: pointer;
  color: #000040;
  background-color: #FEBF01;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.intro .content {
  background-color: #8daccd;
  border-radius: 10px;
  padding: 15px;
  color: #000040;
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.next-button {
  padding: 10px;
  width: 100px;
  height: 100px;
  background-image: url("./../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #eccf0d;
  border: 0px;
  border-radius: 999px;
  float: right;
  -webkit-animation: animated tada;
          animation: animated tada;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.next-button:hover {
  -webkit-animation: animated tada;
          animation: animated tada;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  cursor: pointer;
}

.btn-inicio {
  padding: 10px;
  width: 45px;
  height: 45px;
  background-image: url("./../img/home.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border: 0px;
}

.testinit {
  background-color: #003333;
  color: #ff9505;
  font-weight: bolder;
  font-size: 1em;
  width: 15%;
  padding: 10px 15px;
  border: 2px solid #093B48;
  border-radius: 5px;
  margin: 25px;
  font-family: 'Denk One', sans-serif;
  min-width: 100px;
}

.testinit:hover {
  color: #000040;
  background-color: #FFBB2F;
  border-color: #f7ac17;
  width: 25%;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.question {
  padding: 15px 0px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

.question h2 {
  text-align: left;
}

.question .btn-back {
  border: 0px;
  float: left;
  padding: 0px;
  width: 50px;
  height: 50px;
  background-color: #003333;
  border-radius: 999px;
  text-align: center;
}

.question .btn-back .imagen {
  margin: auto;
  width: 25px;
  height: 25px;
  background-image: url("./../img/home-blanco.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.question .btn-back:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #FFBB2F;
}

.question .btn-back:hover .imagen {
  background-image: url("./../img/home.png");
}

.question .volver-niveles {
  border: 0px;
  float: left;
  padding: 0px;
  width: 50px;
  height: 50px;
  background-color: #003333;
  border-radius: 999px;
  text-align: center;
  margin-right: 5px;
}

.question .volver-niveles .imagen-niveles {
  margin: auto;
  width: 25px;
  height: 25px;
  background-image: url("./../img/bback-white.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.question .volver-niveles:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #FFBB2F;
}

.question .volver-niveles:hover .imagen-niveles {
  cursor: pointer;
  background-image: url("./../img/bback.png");
}

.question .picture {
  width: 30%;
  margin: auto;
}

.question .pregunta {
  background-color: #000040;
  color: #FFF;
  padding: 10px;
  text-align: center;
  font-size: 2em;
  border-radius: 10px;
  margin: 0px 0px 1em 0px;
  font-weight: normal;
}

.question .pregunta b {
  font-family: 'Denk One', sans-serif;
  font-size: 1.4em;
}

.question .answer-button {
  color: #003333;
  background-color: #ff9505;
  width: 50%;
  padding: 10px 15px;
  border: 0px;
  border-bottom: 4px solid #c97c5d;
  border-radius: 999px;
  margin-bottom: 50px;
  margin: 15px;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Denk One', sans-serif;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.question .answer-button:hover {
  cursor: pointer;
  background-color: #000040;
  border-color: #030317;
  color: #FFF;
  font-size: 1.45em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.can {
  position: absolute;
  z-index: 10;
  width: 35%;
  bottom: 0px;
  right: 0px;
}

.resume {
  text-align: center;
}

.resume h1 {
  font-family: 'Denk One', sans-serif;
}

.resume .buttons {
  background-color: transparent;
}

.resume .buttons #reload {
  margin: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border: 5px solid black;
  border-radius: 999px;
  text-align: center;
}

.resume .buttons #reload img {
  height: 90px;
}

.resume .buttons #reload:hover {
  -webkit-animation: animated pulse;
          animation: animated pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  cursor: pointer;
}

.resume .buttons #menu {
  margin: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border: 5px solid #000;
  border-radius: 999px;
  text-align: center;
}

.resume .buttons #menu img {
  height: 50px;
}

.resume .buttons #menu:hover {
  -webkit-animation: animated pulse;
          animation: animated pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  cursor: pointer;
}

.resume .buttons #siguienteNivel {
  margin: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border: 5px solid black;
  border-radius: 999px;
  text-align: center;
}

.resume .buttons #siguienteNivel img {
  height: 90px;
}

.resume .buttons #siguienteNivel:hover {
  -webkit-animation: animated pulse;
          animation: animated pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  cursor: pointer;
}

.score {
  background-color: #00abbb5e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
  width: 200px;
  height: 30px;
  display: inline-block;
  padding: 0;
  position: relative;
  border-radius: 999px;
}

.score img {
  margin: 0px 4px;
}

.score .score-foreground {
  background: -webkit-gradient(linear, left top, left bottom, from(#6df178), to(#75ff19));
  background: linear-gradient(to bottom, #6df178 0%, #75ff19 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

.score .score-33 {
  right: 67px;
}

.score .score-67 {
  right: 33px;
}

.score .score-100 {
  right: 0;
}

.message, .result-message {
  font-family: 'Chewy', cursive;
  border-radius: 10px;
  color: #003333;
  padding: 0px 15px;
  font-size: 2em;
  letter-spacing: 2px;
}

#message {
  font-family: 'Denk One', sans-serif;
  font-size: 1.5em;
  padding: 2em;
  width: 50%;
  min-width: 250px;
  border-radius: 999px;
  border: 5px solid #093B48;
  position: relative;
  background-color: #00aabb;
}

#message:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #093B48;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.selec-level {
  position: relative;
  margin: auto;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.estrellas {
  margin: 10px;
  -webkit-animation: animated heartBeat;
          animation: animated heartBeat;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.correcto {
  background-color: #cbff4d;
  color: #003333;
  width: 50%;
  padding: 10px 15px;
  border: 0px;
  border-bottom: 6px solid #6baa75;
  border-radius: 999px;
  margin-bottom: 50px;
  margin: 15px;
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Denk One', sans-serif;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.incorrecto {
  background-color: #d33e43;
  color: #79b8b8;
  width: 50%;
  padding: 10px 15px;
  border: 0px;
  border-bottom: 6px solid #601d1f;
  border-radius: 999px;
  margin-bottom: 50px;
  margin: 15px;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.nivel {
  width: 10%;
  background-color: #003333;
  font-family: 'Denk One', sans-serif;
  font-size: 2em;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
}
/*# sourceMappingURL=main.css.map */